.bruno-ace-sc-regular {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5;
}

*,
*::before,
*::after {

    box-sizing: border-box;
    /* outline: solid 1px; */
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}



.h1 {
    font-size: 128px;
}

.h2 {
    font-size: 64px;
}

.fs-1 {
    font-size: 32px;
}

.fs-2 {
    font-size: 24px;
}

.fs-3 {
    font-size: 20px;
}

.fs-4 {
    font-size: 16px;
}

/* LAYOUT*/

.header {
    background-color: black;
    color: #D1D1D1;
    padding: 40px 0;
}

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* COMPONENY*/
.btn {
    padding: 12px 24px;
    border-radius: 32px;
}

.btn-light {
    background: white;
    color: black;

}

/* page */
.banner {
    background-color: black;
    color: white;
}

.banner-title-strong {
    display: block;
    text-align: right;
}

.intro {
    padding: 160px 0;
background-image: url("img/background-img.png");
background-repeat: no-repeat;
background-size: cover;
color:white;
}

.intro-desc {
    width:526px;
}
.intro-desc h2{
    margin-bottom: 36px;
}
.intro-desc p {
    margin-bottom: 32px;
}

.about{
    padding: 160px 0;
}

.about-list {
    width:636px;
    flex-wrap: wrap;
    gap:24px;
}

.about-list li {
    width:48%;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
    border: 1px;
    border-color: #E3E3E3;
}

.about-desc {
    width:526px;
}

.contact {

    background: linear-gradient(#050014, #01021EE3);
}

/* UTILS*/

.container {
    width: 1296px;
    margin: 0 auto;
}

.text-primiary {
    color: #00ffa3;
}

.d-flex {
    display: flex;
}

.jcfe {

    justify-content: flex-end;
}

.jcsb {
    justify-content: space-between;
}

.aic {

    align-items: center;
}

.mr-6{
margin-right: 24px;
}
.mb-6 {
    margin-bottom: 24px;
}